.tree-menu,
.tree-menu ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.tree-menu ul {
  margin-left: 1rem;
}

.tree-menu li.active > a {
  font-weight: bold;
  color: #222;
  text-decoration: underline;
}

.tree-menu li.expanded > a {
  font-weight: normal;
  text-decoration: none;
}

.tree-menu a:hover {
  text-decoration: underline;
}